.root {
    -fx-background-color: #f18f42;
    -fx-text-inner-color: #333333;
}

.button {
    -fx-background-color: #ff7b29;
    -fx-text-fill: white;
    -fx-background-radius: 8;
}

.progress-bar {
    -fx-accent: #ff7b29;
}

.text-area {
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-color: #ff7b29;
}

.list-cell:filled:selected {
    -fx-background-color: #ff913b;
    -fx-padding: 6px;
    -fx-font-size: 12px;
    -fx-text-fill: #e65c00;
}

.list-cell:filled{
    -fx-background-color: #ffedde;
    -fx-padding: 6px;
    -fx-font-size: 12px;
    -fx-text-fill: -fx-text-inner-color;
}